.activity{
    background-image: url('/img/merop.png');
    height: 199px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;

    h1{
        color: #fff;
        font-size: 32px;
    }
}