.section-info{
    background-color: $blue-2;
    height: 281px;
    margin-top: 50px;
    margin-bottom: 50px;
    

    h2{
        margin-bottom: 16px;
        font-size: 28px;
    }
    padding: 20px;

    &__item{
        text-align: center;
        display: flex;
        background-color: lighten($blue, 20%);
        padding: 20px;
        margin: 16px 0px;
       line-height: 2.6;
       
    }

   

    &__desc{

        font-size: 20px;
        color: #fff;
        margin-left: 18px;
    }

}

